<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Level Two Exercise</title>
    <link rel="stylesheet" href="{% static "css/level2_ex.css" %}"/>
</head>
<body>
<h1>Django Level Two Exercise!!!</h1>
<h2>Here Are Some User Record:</h2>

<div>
    {% if user_records %}
    <table class="level2_ex">
        <thead>
        <th>Name</th>
        <th>Last Name</th>
        <th>Email</th>
        </thead>

        {% for user in user_records %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.last_name}}</td>
                <td>{{ user.email}}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>NO ACCESS RECORDS FOUND!</p>
    {% endif %}
</div>

</body>
</html>